.root {
  margin-top: 120px;
  @media screen and (max-width: 1440px) {
    margin-top: 100px;
  }
  @media screen and (max-width: 1024px) {
    margin-top: 80px;

  }
  @media screen and (max-width: 768px) {
    margin-top: 60px;

  }
  @media screen and (max-width: 450px) {
    margin-top: 50px;
  }
  .container {
    max-width: 1430px;
    padding: 0 20px;
    margin: 0 auto;
  }


  span {
    font-weight: 500;
  }

  button {
    width: fit-content;
    margin-top: 126px;
    white-space: nowrap;
    &::before{
      display: none;
    }
    @media screen and (max-width: 1440px) {
      margin-top: 116px!important;
    }
    @media screen and (max-width: 1024px) {
      margin-top: 106px!important;
      padding-left: 20px;

    }
    @media screen and (max-width: 768px) {
      margin-top: 96px!important;

    }
    @media screen and (max-width: 450px) {
      margin-top: 50px!important;
      max-width: 200px;
    }
  }
}