.root {
  padding-top: 120px;
  position: relative;

  a {
    text-decoration: underline;
  }

  .container {
    max-width: 1490px;
    margin: 0 auto;
    padding: 0 15px;

    h2 {
      text-align: center;
      text-transform: uppercase;
    }

    .subtitle {
      text-align: right;
    }

    .btnContainer {
      a {
        text-decoration: none;
      }

      button {
        padding: 0 50px 0 20px;
        width: fit-content;
        white-space: nowrap;
      }

      @media screen and (max-width: 768px) {
        padding: 0;
        button {
          font-size: 14px;
          padding: 0 20px;

          &::before {
            display: none;
          }
        }

      }
      @media screen and (max-width: 450px) {
        button {
          height: 40px;
          font-size: 12px;
        }
      }
    }

  }

  .containerBig {
    max-width: 1734px;
    margin: 0 auto;
  }

  .text36 {
    font-weight: 300;
    margin-left: 15px;
    padding-left: 15px;
    position: relative;

    &::before {
      position: absolute;
      left: -5px;
      top: -6px;
      content: '.';
    }
  }

  .girl {
    display: none;
    position: absolute;
  }


  .leftZeroBlock {

  }

  .orange {
    color: #fff;
    margin-right: 70px;
    border-radius: 0 0 50px 0;
    background: #FF862E;
    padding: 65px 20px 200px;
    box-shadow: 5px 4px 23px 0 rgba(0, 0, 0, 0.25);
    @media screen and (max-width: 1024px) {
      padding: 45px 20px 100px;
    }
    @media screen and (max-width: 768px) {
      margin-right: 30px;
      padding: 25px 15px 30px;
    }
  }

  .full {
    overflow: hidden;
    background-image: url("../../../images/startupVisa/buildingsBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 400px;
    position: relative;

    .gray {
      background-color: #ECEAE5;
      padding: 47px 0 120px;
    }

    .darkGray {
      position: relative;
      font-style: italic;
      padding: 16px 15px 100px;
      text-align: center;
      background-color: #BAB2A2;
      margin: -70px 235px 0 155px;
      border-radius: 0px 0px 100px 100px;

      p {
        margin: 0;
      }
    }

    img {
      position: absolute;
      right: 28%;
      transform: translate(50%, 10px);
      bottom: 2px;
    }

    @media screen and (max-width: 1440px) {
      padding-bottom: 350px;
      .darkGray {
        margin: -60px 120px 0 200px;
        border-radius: 0px 0px 20px 20px;
        padding: 16px 15px 70px;
      }
      img {
        right: 12%;
        transform: translate(50%, 10px);
        bottom: -15px;
      }
    }

    @media screen and (max-width: 1024px) {
      padding-bottom: 300px;
      .darkGray {
        margin: -60px 80px 0;
      }
      img {
        transform: scale(0.4);
        right: -10%;
        bottom: -59px;
      }
    }
    @media screen and (max-width: 768px) {
      padding-bottom: 200px;
      .darkGray {
        margin: -60px 60px 0;
      }
      img {
        bottom: -100px;
      }
    }
    @media screen and (max-width: 450px) {
      padding-bottom: 100px;
      .darkGray {
        margin: -60px 30px 0;
        padding: 16px 15px 15px;
      }
      img {
        transform: scale(0.3);
        right: -42%;
        bottom: -200px;
      }
    }
  }

  .red {
    position: relative;
    padding: 30px 20px 60px;
    border-radius: 0 50px 50px 0;
    background: #C0242A;
    color: #fff;

    p {
      max-width: 1310px;
    }

    p:not(:first-child) {
      position: relative;
      margin: 0;
      text-indent: 30px;
      @media screen and (max-width: 1024px) {
        text-indent: 20px;
      }

      &::before {
        position: absolute;
        left: -20px;
        top: -4px;
        content: '.';
        @media screen and (max-width: 1024px) {
          transform: scale(.6);
          left: -17px;
          top: 0;
        }
      }
    }

    img {
      position: absolute;
      right: 0;
      top: -80px;
      @media screen and (max-width: 1440px) {
        transform: scale(.7);
        top: -119px;
      }
      @media screen and (max-width: 1024px) {
        transform: scale(0.5);
        top: -136px;
        right: -25px;
      }
      @media screen and (max-width: 768px) {
        transform: scale(0.3);
        top: -164px;
        right: -81px;
      }
      @media screen and (max-width: 450px) {
        transform: scale(0.2);
        right: -110px;
      }
    }
  }

  .row {
    display: flex;
    align-items: center;
  }

  .library {
    img {
      @media screen and (max-width: 1440px) {
        width: 546.149px;
        height: 540px;
      }
      @media screen and (max-width: 1024px) {
        width: 300px;
        height: 350px;
      }
      @media screen and (max-width: 768px) {
        width: 201px;
        height: 270px;
      }
      @media screen and (max-width: 450px) {
        width: 144px;
        height: 220px;
      }
    }
  }

  .conversation {
    p {
      padding-left: 20px;
    }

    img {
      @media screen and (max-width: 1440px) {
        width: 546.149px;
        height: 442px;
      }
      @media screen and (max-width: 1024px) {
        width: 300px;
        height: 250px;
      }
      @media screen and (max-width: 768px) {
        width: 200px;
        height: 150px;
      }
      @media screen and (max-width: 450px) {
        width: 144px;
        height: 110px;
      }
    }
  }

  .planetBlock {
    position: relative;
    max-width: 1730px;
    margin: 0 auto;
    padding: 170px 0;
    background-image: url("../../../images/startupVisa/planetBg.svg");
    background-repeat: no-repeat;
    background-size: cover;


    p {
      font-weight: 400;
    }

    img {
      position: absolute;
      right: 0;
      bottom: -60px;
      @media screen and (max-width: 1440px) {
        transform: scale(.7);
      }
      @media screen and (max-width: 1024px) {
        transform: scale(0.5);
        right: -90px;
      }
      @media screen and (max-width: 768px) {
        transform: scale(0.3);
        top: 170px;
        right: -120px;
      }
      @media screen and (max-width: 450px) {
        transform: scale(0.2);
        top: 130px;
        right: -146px;
      }
    }
    @media screen and (max-width: 768px) {
      padding: 100px 0;
    }
    @media screen and (max-width: 450px) {
      padding: 100px 0 60px;
      a{
        font-size: 12px;
      }
    }
  }
}