.root {
  margin-top: 190px;

  .container {
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .title {
    text-align: center;
    color: black;
  }

  .row {
    margin-top: 110px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 179px;
    column-gap: 120px;
  }

  .column {
    flex: 1 1 400px;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: -72px;
      background: #E4E4E7;
      width: 1px;
      height: 211px;
    }

    &:first-child {
      &::before {
        display: none;
      }
    }

    &:nth-child(4n) {
      &::before {
        display: none;
      }
    }

    span {
      color: #000;
      font-size: 36px;
      font-style: normal;
      font-weight: 100;
      line-height: normal;
    }

    .title {
      color: #000;
      text-align: center;
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .subtitle {
      color: #000;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }

  .btnBlock {
    position: relative;
    height: 102px;
    max-width: 850px;
    button{
      position: relative;
      &:after {
        right: 20%;
        top: 50%;
        transform: translate(0px, -32%);
        background-size: contain;
        content: '';
        background-repeat: no-repeat;
        background-image: url("../../../../images/btnArrow.svg");
        display: block;
        position: absolute;
        width: 10px;
        height: 20px;
      }
    }

    text-align: left;
    @media screen and (max-width: 1024px) {
      height: 75px;
      button {
        text-align: left;
        width: 435px;
        margin: 0 0 0 auto;
        padding: 0 0 0 30px;
        &:after {
          right: 5%;
        }
      }

    }
    @media screen and (max-width: 768px) {
      height: 40px;
      button {
        margin: 0 auto;
        text-align: left;
        width: 435px;
        padding: 0 0 0 30px;
        &:after {
          width: 7px;
          height: 15px;
        }
      }
    }
    @media screen and (max-width: 600px) {
      height: 40px;
      button {
        margin: 0 auto;
        text-align: left;
        width: 335px;
        padding: 0 0 0 30px;
        &:after {
          width: 7px;
          height: 15px;
        }
      }
    }
    @media screen and (max-width: 450px) {
      height: 24px;
      button {
        font-size: 12px;
        margin: 0 auto;
        text-align: left;
        width: 230px;
        padding: 0 0 0 20px;
        &:after {
          transform: translate(0px, -36%);
          width: 9px;
          height: 9px;
        }
      }
    }
  }

  .textComforter {
    margin: 400px 0 0 auto;
  }

  @media screen and (max-width: 1024px) {
    margin-top: 90px;
    .row {
      margin-top: 60px;
      row-gap: 80px;
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 45px;
    span {
      display: none;
    }
    .row {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      row-gap: 40px;
    }
  }
  @media screen and (max-width: 450px) {
    span {
    }
    .row {
      row-gap: 20px;
    }
  }
}

