.footer {
  box-sizing: border-box;
  height: 370px;
  background-color: #1831b7;
  display: flex;
  align-items: center;
  position: relative;
  @media(max-width: 768px) {
    height: 100px;
  }
}

.navigation {
  padding: 0 15px;
  padding-top: 8rem;
  width: 1536px;
  margin: 0 auto;
  display: flex;
  align-items: top;
  justify-content: space-between;
  column-gap: 8rem;
  color: #fff;
  @media(max-width: 1540px) {
    max-width: 1440px;
    padding-top: 1rem;
  }
  @media(max-width: 1199px) {
    column-gap: 0;
    align-items: center;
  }
}

.logo {
  @media(max-width: 768px) {
    max-width: 110px;
  }
}

.contactinfo {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-weight: 300;
  font-size: 1.5rem;

  p, a {
    color: #fff;
    font-weight: 300;
  }

  @media(max-width: 768px) {
    display: none;
  }
}

.social {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.socialicon {
  max-height: 2rem;
  @media(max-width: 768px) {
    max-width: 31px;
  }
}

.planesBlock {
  position: absolute;
  background-image: url("../../images/planeVector.svg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1318px;
  max-height: 395px;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translate(-50%, -100%);
  left: 50%;
@media screen and (max-width: 1024px){
  display: none;
}
}

.formblock {
  position: absolute;
  top: -46%;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1090px;
  @media(max-width: 768px) {
    display: none;
  }
  form{
    display: flex;
    position: relative;
    p{
      position: absolute;
      left: 13px;
      top: 0;
      margin: 0;
    }
  }
}


.content {
  height: 160px;
  padding: 60px 80px;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  column-gap: 100px;

  h5 {
    margin: 0;
  }

  @media(max-width: 1200px) {
    column-gap: 50px;
    //flex-direction: column;
    //padding: 1rem 2rem;
  }
  @media(max-width: 1024px) {
    display: none;
  }
}

.contacts {
  margin: 0;
  color: #767e86;
  font-weight: 400;
}

.email {
  color: #767e86;
  font-weight: 300;
  margin-bottom: 1rem;
}

.input {
  border-radius: 12px;
  background: #e3f5fe;
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  border: none;
  margin-right: 2rem;
}

.submitbtn {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 300;
  padding: 1.2rem 1.84rem;
  border-radius: 12px;
  background: #005480;
  cursor: pointer;
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  @media(max-width: 768px) {
    display: none;
  }
}